.gallery {
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  grid-gap: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .gallery {
    margin: 0 48px 92px;
    gap: 14px;
  }
}

@media (max-width: 1023px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 24px 88px;
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 16px 15px;
    gap: 12px;
  }
}