.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 92px auto;
  position: relative;
  height: 740px;
  box-sizing: border-box;
  background-image: url(../../images/banner-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.banner:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .banner {
    height: 62vh;
  }
}

@media (max-width: 1023px) {
  .banner {
    margin: 90px 0 88px;
  }
  .banner:hover:before {
    display: none;
  }
}

@media (max-width: 767px) {
  .banner {
    margin: 41px 0 64px;
  }
}