.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place .place__paragraph:nth-child(2) {
    margin: 0;
  }
}