.root {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2A2C2F;
  color: #FFFFFF;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
       url("../../fonts/Inter-Bold.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Inter-Black.woff2?v=3.15") format("woff2"),
       url("../../fonts/Inter-Black.woff?v=3.15") format("woff");
}

@media (max-width: 767px) {
  .root {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  }
}

