@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/__lang-link_instance/header__lang-link_instance-enable.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__img/cover__img.css);
@import url(../blocks/cover/__caption/cover__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-item/intro__list-item.css);
@import url(../blocks/intro/__list-item_digit/intro__list-item_digit.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__pic/gallery__pic.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/banner/banner.css);
@import url(../blocks/banner/__link/banner__link.css);
@import url(../blocks/banner/__layout/banner__layout.css);
@import url(../blocks/banner/__title/banner__title.css);
@import url(../blocks/banner/__subtitle/banner__subtitle.css);
@import url(../blocks/banner/__heading/banner__heading.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@media (min-width: 1280px) {
.cover__title {
  margin: 56px 0 0;
}

.intro__text {
  max-width: 690px;
}

.place:nth-child(3) .place__paragraph{
  margin-bottom: 27px;
}

.banner:hover:before {
  opacity: 0.8;
  cursor: pointer;
}

}


/* ноуты */
@media (max-width: 1279px) {

  .cover {
    margin: 28px 48px 0;
  }

  .cover__img {
    margin: 56px 0 0;
  }
  
  .intro {
    margin-left: 48px;
  }
  .intro__text {
    max-width: 690px;
  }

  .gallery {
    margin: 0 48px 92px;
    gap: 14px;
  }

  .places {
    margin: 0 48px 0;
  }

  .place {
    column-gap: 32px;
  }

  .place:nth-child(odd) .place__paragraph{
    margin-bottom: 27px;
  }

  .banner {
    padding: 30vh 0;
  }
  
  .banner:hover:before {
    opacity: 0.8;
    cursor: pointer;
  }

}


/* таблетки  */
@media (max-width: 1023px) {
  .header {
    padding: 0 24px 0;  
  }

  .content {
    max-width: 1023px;
  }

  .cover__caption {
    margin-left: 24px;
  }

  .cover {
    margin: 0;
  }

  .intro {
    max-width: 720px;
    margin: 88px 24px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 0 24px 88px;
    gap: 16px;
  }

  .places {
    margin: 88px 24px 90px;
  }

  .place {
    column-gap: 28px;
    margin-bottom: 73px;
  }

  .place:nth-child(4) {
    margin-bottom: 72px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__text {
    margin: 0;
  }

  .place__website {
    margin: 0;
  }

  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .place__img {
    width: 93%;
  }

  .banner {
    margin: 90px 0 88px;
    padding: 24vh 0;
  }

  .banner:hover:before {
    display: none;
  }

  .footer {
    margin: 0 24px 24px;
  }



}

/* телефоны */
@media (max-width: 767px) {
  .content {
    width: 100%;
  }
  .root {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  }

  .header {
    margin: 16px auto 0;
    padding: 0 16px 0;
  }

  .header__logo {
      width: 142px;
    }

  .header__lang-link {
    font-size: 18px;
  }

  .cover {
    margin: 0;
  }

  .cover__caption {
    margin-left: 18px;
  }

  .cover__title {
    margin: 48px auto 0;
    font-size: 40px;
    line-height: 1.1;
  }

  .cover__subtitle {
    font-size: 16px;
    margin-top: 16px;
    max-width: 288px;
    line-height: 1.25;
  }

  .cover__img {
    margin: 40px 0 0;
    width: 100%;
  }

  .intro {
    margin: 64px 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .intro__text {
    margin-bottom: 34px;
  }

  .gallery {
    margin-bottom: 0;
  }

  .places {
    width: 100%;
    margin: 64px 0 66px;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }


  .place:nth-child(4) {
    margin-bottom: 0;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place .place__paragraph:first-child {
    margin-bottom: 25px;
  }

  .place .place__paragraph:nth-child(2) {
    margin: 0;
  }
  
  .place__title {
    margin: 49px 16px 32px;
    white-space: unset;
  }

  .place:first-child .place__title {
    margin-top: 0;
  }

  .place:nth-child(3) .place__title {
    margin-top: 50px;
  }

  .place__text {
    margin: 0 16px;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: 0 16px 64px;
    gap: 12px;
  }

  .place__img {
      width: 100%;
      margin-bottom: 32px;
    }

  .place__website {
    display: none;
  }

  .banner {
    padding: 8vh 4vh;
    margin: 41px 0 64px;
  }

  .banner__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .banner__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
    white-space: unset;
  }

  .banner:hover:before {
    display: none;
  }
  
  .footer {
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 24px;
    align-items: flex-start;
  }

  .footer__links {
    display: block;
    margin-bottom: 16px;
  }

  .footer__link {
    display: block;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .footer__copyright {
    line-height: 1;
  }
}
