.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 80px;
  row-gap: 48px;
  column-gap: 16px;
}

.place:last-child {
  margin: 0 auto 0;
}

@media (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}

@media (max-width: 1023px) {
  .place {
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
  .place__paragraph {
    font-size: 16px;
  }
  .place .place__paragraph:nth-child(2) {
    margin: 0;
  }
}