.banner__title {
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  text-decoration: none;
  white-space: pre-line;
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 32px;
    line-height: 1.09;
  }
}